@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme{
  --font-grif : "Griffy", system-ui;
  --font-monts : "Montserrat", sans-serif;
}
html, body, #root{
  @apply bg-black text-white min-h-screen
}

.swiper-pagination-bullet {
  background-color: #facc15 !important;
  opacity: 0.6;
  transition: all 0.3s ease;
}


.swiper-pagination-bullet-active {
  background-color: #fbbf24 !important;
  opacity: 1;
  transform: scale(1.2);
}
.swiper-pagination {
          bottom: 25px !important;
          z-index: 50 !important;
}