@import "tailwindcss";
@plugin "daisyui";


.swiper-pagination-bullet {
  background-color: #facc15 !important;
  opacity: 0.6;
  transition: all 0.3s ease;
}


.swiper-pagination-bullet-active {
  background-color: #fbbf24 !important;
  opacity: 1;
  transform: scale(1.2);
}
